@font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

/*Deslize suave*/
/* html{
    scroll-behavior: smooth;
} */

/*Formatação para todos os elementos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *{
    display: flex ;
    flex-direction: column;

    /* Formatação geral dos textos*/
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration: none;
}

/*Formatação de títulos*/
.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    color: #07448a;
}

h2{
    font-family: "Georgia";
    font-size: 2rem;
    font-weight: bold;
}

a{
    color: #24282c;
}

a:hover {
    text-decoration: underline;
}

button{
transition: transform 0.3s ease;
}
    
button:hover{
    transform: scale(1.1);
}

/*Formatação da barra de navegação*/
nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;

    background-color: #ffffff;
    
    *{
        color: #24282c;
    }

    /*Logo na barra de navegação*/
    #logo{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: #07448a;
    }

    #logo:hover{
        text-decoration: none;
    }
    
    /*Lista de links da barra de navegação*/
    ul{
        flex-direction: row;
        gap: 1.25rem;
        
        align-items: center;
    }

    /*Botão "Cadastrar" da barra de navegação*/
    #cadastrar{
        background-color: #65fff2;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    #cadastrar:hover{
        text-decoration: none;
        transform: scale(1.1);
    }
}

/*Formatação das sessões da página*/
section{
    padding: 2.5rem 6rem;
}

/*Formatação da sessão "Início"*/
.inicio{
    background-color: #f8f8f8;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    /*Parte de texto da sessão "Início"*/
    .inicio-texto{
        gap: 2rem;
        width: 45vw;
    }
    
    /*Botão "Faça parte da nossa equipe"*/
    button{
        background-color: #65fff2;
        border-style: none;
        border-radius: 10px;
        padding: 1rem;
        
        height: 2.5rem;
        width: max-content;
        
        font-weight: bold;
        color: #24282c;
        justify-content: center;
        align-self: center;
        
        box-shadow: 5px 5px 2rem rgba(36, 40, 44, 0.5);
    }
    
    /*Parte de "Possui conta? Entrar"*/
    .possui-conta{
        flex-direction: row;
        gap: 0.3rem;
        justify-content: center;

        a{
            font-weight: bold;
        }
    }

    /*Imagem da sessão "Início"*/
    img{
        height: 35rem;
        width: auto;
        border-radius: 15px;
        
        align-self: center;
        justify-self: center;
    }
}

/*Formatação da sessão "Sobre"*/
.sobre{
    background-color: #07448a;
    color: #ffffff;
    
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
    /*Parte de texto da sessão "Sobre"*/
    .sobre-texto{
        width: 40vw;
        gap: 2rem;
    }
    
    /*Imagens da sessão "Sobre"*/
    .sobre-imagens{
        justify-content: space-between;
    }

    img{
        border-radius: 15px;
        width: 20vw;
        height: auto;
    }
}

/*Formatação da sessão "Métodos"*/
.metodos{
    background-color: #f8f8f8;
    align-items: center;
    gap: 2rem;
    
    /*Containers*/
    div{
        background-color: #07448a;
        padding: 1.5rem;
        border-radius: 15px;
        color: #ffffff;

        display: grid;
        grid-template-areas: 
        "titulo imagem"
        "texto imagem";
        grid-template-columns: 40vw auto;
        gap: 1rem;

        /*Elementos dentro dos containers*/
        h3{
            grid-area: titulo;
        }
        
        p{
            grid-area: texto;
        }
        
        img{
            grid-area: imagem;
            align-self: center;
            height: 10rem;
            width: auto;
            border-radius: 10px;
        }
    }
}

/*Formatação da sessão "relatos"*/
.relatos{
    background-color: #24282c;
    color: #ffffff;
    gap: 2rem;
    align-items: center;

    h2{
        grid-area: titulo;
        color: #65fff2;
    }

    /*Container que agrupa os relatos*/
    .relatos-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1rem;

        /*Containers dos relatos*/
        div{
            padding: 1rem;
            background-color: #f8f8f8;
            color: #24282c;
            border-radius: 15px;

            display: grid;
            grid-template-areas: 
            "imagem nome"
            "imagem cargo"
            "texto texto";
            grid-template-columns: min-content 1fr;
            gap: 0.7rem;
            
            img{
                grid-area: imagem;
                border-radius: 100%;
                border: 3px outset #65fff2;
                height: 4rem;
            }

            .nome{
                grid-area: nome;
                font-family: Georgia, 'Times New Roman', Times, serif;
                align-self: flex-end;
            }

            .cargo{
                grid-area: cargo;
            }

            .relato{
                grid-area: texto;
            }

        }
    }
}

/*Formatação da sessão "Aulas"*/
.aulas{
    background-color: #f8f8f8;
    align-items: center;
    gap: 2rem;

    /*Container que agrupa imagem e aulas*/
    .aulas-container{
        display: grid;
        grid-template-areas: 
        "imagem portugues"
        "imagem matematica";
        gap: 1rem;
        place-items: center;

        /*Container das aulas*/
        div{
            background-color: #07448a;
            border-radius: 15px;
            padding: 1rem;
            gap: 0.5rem;

            color: #ffffff;
            text-align:center;

            width: 30vw;
        }

        .portugues{
            grid-area: portugues;
        }
        
        .matematica{
            grid-area: matematica;
            
        }

        img{
            grid-area: imagem;
            border-radius: 15px;
            height: 18rem;
        }
    }
}

/*Formatação da sessão "Contatos"*/
.contatos{
    background-color: #f8f8f8;
    gap: 2rem;
    align-items: center;
    
    /*Container que agrupa os outros containers de contatos*/
    .contatos-container{
        display: grid;
        grid-template-areas: 
        "youtube instagram"
        "youtube whatsapp"
        "youtube email";
        gap: 1rem;
        
        h3{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.2rem;
        }
    }
}

/*Containers dos contatos*/
.youtube, .instagram, .whatsapp, .email{
    background-color: #24282c;
    border-radius: 15px;
    padding: 1rem;
    
    width: 40vw;
    
    color: #65fff2;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    /*Container dentro dos containers de contatos*/
    div{
        background-color: #2d3144;
        border-radius: 15px;
        padding: 1rem;
        
        width: 100%;
        
        color: #ffffff;
        align-items: center;

        button{
            background-color: #f8f8f8;
            border-style: none;
            border-radius: 10px;
            padding: 0.5rem;
            
            font-weight: bold;
            font-size: 1.3rem;
            
            height: max-content;
            width: max-content;
            justify-content: center;
        }

        img{
            border-radius: 100%;
            height: 4rem;
        }
    }
}

.youtube{
    grid-area: youtube;

    .videos{
        gap: 1rem;

        iframe{
            border-radius: 10px;
            width: 100%;
        }
    }
}

.instagram{
    grid-area: instagram;
}

.whatsapp{
    grid-area: whatsapp;

    .numero{
        display: grid;
        grid-template-columns: min-content auto auto;
        column-gap: 1rem;
        justify-content: space-around;
    }
}

.email{
    grid-area: email;

    div{
        gap: 1rem;
    }
}

/*Container do canal do YouTube, perfil do instragram e canal do WhatsApp*/
.perfil{
    display: grid;
    grid-template-areas: 
    "imagem user botao"
    "imagem seguidores botao";
    grid-template-columns: min-content auto auto;
    column-gap: 1rem;
    justify-content: space-around;

    img{
        grid-area: imagem;
    }
    
    b{
        grid-area: user;
    }
    
    p{
        grid-area: seguidores;
    }
    
    button{
        grid-area: botao;
    }
}

/*Rodapé*/
footer{
    background-color: #07448a;
    padding: 1rem 3rem;

    display: grid;
    grid-template-areas: 
        "logo links contatos"
        "direitos direitos direitos";
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    justify-items: center;

    *{
        color: #ffffff;
    }

    h4{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;
    }

    .logo-footer{
        grid-area: logo;
        align-self: center;
    }

    .links-rapidos-footer{
        grid-area: links;
    }

    .contatos-footer{
        grid-area: contatos;
    }
    
    p{
        grid-area: direitos;
    }
}