/* Destaque da guia atual no menu lateral */
.aside-atividades a{
    background-color: #65fff2;
    color: #000000;

    img{
        filter: invert();
    }
}

/*Container com os cards*/
.tela-inicial {
    /*Grid dos cards*/
    display: grid;
    grid-template-columns: 2fr 1fr;
}