/* Destaque da guia atual no menu lateral */
.aside-inicio a{
    background-color: #65fff2;
    color: #000000;

    img{
        filter: invert();
    }
}

/*Container com os cards*/
.tela-inicial {
    /*Grid dos cards*/
    display: grid;
    grid-template-columns: 2fr 0.75fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas:
        "saudacao           calendario"
        "materias           calendario"
        "area-atividades     eventos-proximos"
        "area-atividades     professores-chat"
        ;
}

.saudacao {
    grid-area: saudacao;
    display: flex;
    justify-content: start;
    gap: 1rem;

    img{
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
}

.materias {
    grid-area: materias;

}

.area-atividades {
    grid-area: area-atividades;
}

.professores-e-chat {
    grid-area: professores-chat;
}

.calendario {
    grid-area: calendario;
}

.eventos-proximos {
    grid-area: eventos-proximos;
}