body{
    background-color: #f8f8f8;
}

body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #ffffff;
    font-size: 1rem;
    font-family: "Century Gothic";

    display: flex;
    flex-direction: column;
}

h2{
    font-size: 2rem;
    font-family: "Georgia";
    align-self: center;
}

form{
    gap: 2rem;
    align-items: center;
}

fieldset{
    background-color: #042d5c;
    padding: 2rem;
    
    border-radius: 15px;
    border: none;

    width: 40vw;

    
/*     legend{
        all: none;
        display: none;
    } */

    input{
        background-color: #07448a;
        border: none;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    button{
        background-color: #65fff2;
        border: none;
        border-radius: 5px;
        height: 1.7rem;
        margin-top: 1rem;

        color: #042d5c;
        font-weight: bold;
        font-size: 1.1rem;
    }

    div{
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        p, a{
            font-size: 0.8rem;
            display:inline;
        }
    }

}

