@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

/*Rolagem de página suave*/
html {
    scroll-behavior: smooth;
}

/*Formatação para todos os elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    /* Formatação geral dos textos*/
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;

    background-color: #f8f8f8;
}

h2 {
    font-family: "Georgia";
    font-size: 2rem;
    font-weight: bold;
    color: #042d5c;
}

h3{
    font-family: "Georgia";
    font-size: 1.75rem;
}

/*Barro de navegação*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #ffffff;
    padding: 0.5rem 1rem;

    * {
        color: #24282c;
    }

    /*Logo na barra de navegação*/
    #logo{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: #07448a;
    }

    /*Lista de links da barra de navegação*/
    ul{
        list-style: none;
        
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        
        a:hover{
            text-decoration: underline;
        }
    }
    
    /*Botão "Entrar" da barra de navegação*/
    #entrar{
        display: flex;
        border: 1px solid #24282c;
        border-radius: 10px;
        padding: 0.5rem;
        transition: transform 0.3s ease;
    }

    #entrar:hover{
        transform: scale(1.1);
        text-decoration: none;
    }
}

section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

fieldset{
    display: grid;
    grid-template-columns: auto auto;
    width: 30vw;
    background-color: #042d5c;
    border-radius: 15px;
    border-style: none;
    padding: 1rem;
    color: #ffffff;
    
    legend{
        display: none; 
    }
    
    p a{
        color: #ffffff;
    }
    
    h3{
        justify-self: center;
        align-self: center;
        margin-bottom: 1rem;
    }

    input{
        display: flex;
        background-color: #07448a;
        border-style: none;
        border-radius: 10px;
        height: 2rem;
    }
    
    select{
        background-color: #07448a;
        border-style: none;
        border-radius: 10px;
        height: 2rem;
        color: #ffffff;

    }

    select:focus{
        border: 1px solid #65fff2;
    }
    
    button{
        display: flex;
        background-color: #65fff2;
        border-style: none;
        border-radius: 10px;
        font-weight: bold;
        
    }
}

.tipo-usuario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 25vw;
    text-align: center;

    legend{
        grid-column: span 2;

    }

    label{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        background-color: #07448a;
        border-radius: 10px;
        padding: 1rem;
        gap: 1rem;

        img{
            height: auto;
            width: 30%;
        }

        input{
            display: none;
        }

    }

    label:has(input:checked){
        border: 1px solid #65fff2;
        box-shadow: 0 0 0.5rem #65fff2;
        transform: scale(1.1);

    }

    button {
        grid-column: span 2;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
    }
}

.dados-pessoais,
.endereco,
.formacao-academica,
.criar-senha {

    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 0.5rem;

    *{
        grid-column: span 2;
    }

    button{
        display: flex;
        grid-column: span 1;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
    }

    input, select{
        margin-bottom: 0.75rem;
    }

}