@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

/*Variável da largura do aside*/
:root{
    --aside-width: 5rem;
    --nav-height: 3rem;
}

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *{
    /*Formatação geral dos textos*/
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

/*Barara de navegação superior*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background-color: #042d5c;

    position: relative;
    left: var(--aside-width);
    padding: 0.5rem 2rem;

    width: calc(100vw - var(--aside-width));
    height: var(--nav-height);

    /*Logo na barra de navegação*/
    #logo{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: #ffffff;
        text-decoration: none;
    }

    #logo:hover {
        text-decoration: none;
    }

    label{
        display: none;
    }

    .input-pesquisar{
        display: flex;
        align-items: center;

        img{
            background-color: #24282c;
            padding: 0.25rem;
            border-radius: 10px 0 0 10px;
        }
     
        input{
            height: 1.5rem;
            width: 30rem;

            border-radius: 0 10px 10px 0;
            border-style: none;
            background-color: #07529a;
            padding: 0 0.5rem;
        }

        input::placeholder{
            color: rgba(248, 248, 248, 0.5);
            font-weight: 450;
        }
    }

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
    }

    button{
        background-color: transparent;
        border-style: none;

    }

    button p {
        display: none;
    }

    img{
        width: 1.5rem;
        height: auto;
    }
}

/*Menu lateral*/
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0.75rem;
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: var(--aside-width);
    height: 100vh;
    
    background-color: #07529a;  
    
    /*Icons do menu lateral*/
    img{
        width: 1.75rem;
        height: auto;
    }
    
    /*Lista de opções do menu lateral*/
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center; /*Centraliza os ícones do aside*/
        justify-content: center;
        gap: 2rem;

        color: #ffffff;

        font-size: 0;

        text-decoration: none;
    }

    .aside-inicio a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.7rem;

        background-color: #24282c;
        padding: 0.5rem;
        border-radius: 10px;

    }
    
    a p{
        display: none;
    }

    button {
        color: #ffffff;
        border: none;
        background-color: transparent;
    }
}

/*Container com os cards*/
.tela-inicial {
    position: relative;
    left: var(--aside-width);

    width: calc(100vw - var(--aside-width));
    height: calc(100vh - var(--nav-height));

    padding: 0.5rem;    

    /*Grid dos cards*/
    display: grid;
    grid-template-columns: 1fr 1fr 0.70fr;
    grid-template-rows: 0.4fr repeat(3, 1fr);
    grid-template-areas:
        "saudacao saudacao calendario"
        "total-alunos area-atividades calendario"
        "alunos-chat biblioteca-conteudos calendario"
        "alunos-chat biblioteca-atividades eventos-proximos"
        ;

    gap: 0.5rem;
    background-color: #f8f8f8;
}

/*Cards*/
section {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #ffffff;
    border-radius: 10px;

    padding: 1rem;

    color: #000000;
    text-align: center;

}

/*ÁREAS DO GRID*/
.saudacao {
    grid-area: saudacao;
    display: flex;
    justify-content: start;
    gap: 1rem;

    p, p *{
        font-size: 2rem;
    }

    img{
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
}

.total-alunos {
    grid-area: total-alunos;
}

.area-atividades {
    grid-area: area-atividades;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    table{
        width: 100%;
        border: 1px solid #24282c;
    }
}

.alunos-e-chat {
    grid-area: alunos-chat;
}

.biblioteca-conteudos {
    grid-area: biblioteca-conteudos;
}

.biblioteca-atividades {
    grid-area: biblioteca-atividades;
}

.calendario {
    grid-area: calendario;
}

.eventos-proximos {
    grid-area: eventos-proximos;
}