@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

body *{
    /*Formatação geral dos textos*/
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration: none;
}

/* BARRA SUPERIOR*/
nav {
    display: flex;
    flex-direction: row;
    
    position: relative;
    left: 3.5rem;
    padding: 0.5rem 2rem;

    width: calc(100vw - 3.5rem);

    align-content: center;
    justify-content: space-between;
    

    background-color: #042d5c;

    /*Logo na barra de navegação*/
    #logo{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: #ffffff;
        text-decoration: none;
    }

    #logo:hover {
        text-decoration: none;
    }

    input{
        height: 1.5rem;
        width: 30rem;
    }

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1rem;
    }
}

/*MENU LATERAL*/
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 0;
    
    position: fixed;
    
    top: 0;
    left: 0;
    
    width: 3.5rem;
    height: 100vh;
    
    background-color: #07529a;
    
    z-index: 200;
    
    img{
        width: 1.5rem;
        height: auto;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        color: #ffffff;

        font-size: 0;

        text-decoration: none;
    }
    
    a p{
        display: none;
    }

    button {
        color: #ffffff;
        border: none;
        background-color: transparent;
    }
}

/*TELA INICIAL*/
.tela-inicial {
    position: absolute;

    top: 38px;
    left: 49px;

    width: calc(100vw - 49px);
    height: calc(100vh - 38px);

    padding: 16px 6px 5px 13px;

    display: grid;

    /*3 COLUNAS*/
    grid-template-columns: 1.25fr 1fr 0.72fr;

    /*4 LINHAS*/
    grid-template-rows:
        68px
        137px
        128px
        1fr;

    /*POSIÇÃO DOS CARDS*/
    grid-template-areas:
        "saudacao saudacao calendario"
        "total-alunos area-atividades calendario"
        "alunos-chat biblioteca-conteudos calendario"
        "alunos-chat biblioteca-atividades eventos-proximos"
        ;

    gap: 8px;

    background-color: #ffffff;
}

/*CARDS*/
section {
    background-color: #24282c;

    color: #ffffff;

    border-radius: 12px;

    display: flex;

    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 10px;

    min-width: 0;
    min-height: 0;
}

/*TEXTO DOS CARDS*/
section p {
    color: #ffffff;

    font-family: Montserrat, sans-serif;

    font-size: 16px;

    line-height: 1.4;

    text-align: center;
}

/*ÁREAS DO GRID*/
.saudacao {
    grid-area: saudacao;
}

.total-alunos {
    grid-area: total-alunos;
}

.area-atividades {
    grid-area: area-atividades;
}

.alunos-e-chat {
    grid-area: alunos-chat;
}

.biblioteca-conteudos {
    grid-area: biblioteca-conteudos;
}

.biblioteca-atividades {
    grid-area: biblioteca-atividades;
}

.calendario {
    grid-area: calendario;
}

.eventos-proximos {
    grid-area: eventos-proximos;
}