/* Destaque da guia atual no menu lateral */
.aside-atividades a{
    background-color: #65fff2;
    color: #000000;

    img{
        filter: invert();
    }
}

/*Container com os cards*/
.tela-inicial {
    /*Grid dos cards*/
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;

    hr{
        width: 100%;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.area-atividades{
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    gap: 1rem;
    
    .campo-atividades{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        row-gap: 0.5rem;
        place-items: center;
    }
}

.biblioteca-conteudos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    gap: 1rem;
    
    .campo-atividades{
        width: 100%;
        
    }
}

.biblioteca-atividades{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    gap: 1rem;
    
    .campo-atividades{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 0.5rem;
        place-items: center;
    }
}